/* Inserte su codigo aqui */
*{
	font-family: monospace;
	/*outline: 1px solid red;*/
}

p{
	color:#B0AFAD;
}
.portafolio{
	color:white;
}
h3{
	color:#878582;
}
body{
	background: #F0EDE8;
}
header nav ul{
	list-style: none;
	text-align: right;
	margin: 50px;
}
 header nav ul li{

	display:inline;
	margin-right: 15px;
	font-size: 15px;
	color:white;
}
header{
	height: 450px;
	background: #F4D03F;
}
.boton{
	background: #F3871A; 
	border-color:#F3871A;
	color:white;
	margin: 50px;
}
.hero{
	position: relative;
	text-align: center;
	color:white;
}
.cajagris{
	background :#C4C2BF;
	height: 300px;
	width: 300px;
	color:#8A8886;
	margin: 0 auto;
	text-align: center;



}
.cajablanca{
	height: 480px;
	width: 480px;
	background-color: white;
	padding: 15px;
}

.box{
	width: 350px;
	margin: 0 auto;
	padding-bottom: 15px;
}
.contenedor{
	background: #F0EDE8; 
}
.btn{
	background: #F3871A; 
	border-color:#F3871A;
	color:white;
	margin-left: 150px;
}
.cajagris{
	padding-top:150px;
}
.ejemplo{
	font-color:#B0AFAD  ;
}
footer{
	padding-top: 15px;
	padding-left: 100px;
	color:white;
	background: #5A5A59;
	height: 50px;
}
